<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="card">
    <div class="card-body">
      <p class="card-text">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Username</span>
          <%= form.text_field :username, class: "form-control", placeholder: "chucknorris" %>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Name</span>
          <%= form.text_field :name, class: "form-control", placeholder: "Chuck Norris" %>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Email</span>
          <%= form.email_field :email, class: "form-control", placeholder: "user@example.com" %>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Password</span>
          <%= form.password_field :password, class: "form-control", placeholder: "**********" %>
        </div>
      </p>
      <p>
      <div class="d-flex justify-content-center align-items-center">
        <%= form.submit(user.persisted? ? "Update" : "Create", class: "btn btn-success") %>
      </div>
      </p>
    </div>
  </div>
  </div>
  </div>
<% end %>
