<!DOCTYPE html>
<html>
  <head>
    <title>Railskuten</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-app" tabindex="-1">
      <div class="container-fluid">
        <a class="navbar-brand text-white m-plus" href="/products">
          <%= image_tag 'logo.png', alt: 'Logo', width: '30', height: '30', class: 'd-inline-block align-text-top' %>
          ailskuten
        </a>
        <div class="collapse navbar-collapse ">
          <ul class="navbar-nav">
            <% if current_user && current_user.seller %>
              <div class="actions">
                <%= link_to 'New Product', new_product_path, class: 'btn border border-white text-white' %>
              </div>
            <% end %>
          </ul>
        <div class="position-absolute end-0 translate-middle-connect" role="search">
            <% if logged_in? %>
              <%= button_to "Déconnexion", logout_path, method: :delete, class: "btn btn-outline-light" %>
              <% else %>
              <%= link_to "Connexion", new_session_path, class: "btn btn-primary btn-sm" %>
            <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>
    <%= notice %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
